@font-face {
    font-family: 'Geometria Light';
    src        : url('/font/Geometria-Thin') format('ttf');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'Geometria';
    font-style : normal;
    font-weight: normal;
    src        : local('/font/Geometria'), url('/font/Geometria-Medium.woff') format('woff');
}


@import url('/font/inter.css');

:root {
    --title-font: 'Geometria', 'Geometria-light', sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black !important;
        color: white;
    }
}

h1,
h2,
h3 {
    font-family: var(--title-font);
}

h1 {
    padding: 0;
    margin: 0;
    padding-top: 50px;
    font-size: 60pt;
    color: grey;
}

body {
    font-family     : 'Inter';
    background-color: rgb(254, 254, 254);
    margin          : 0;
}

.entirepage {
    min-height: 100vh;
    max-width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ext  {
    color: lightgray;
    position: fixed;
    text-decoration: none;
    bottom: 25px;
    right: 25px;
}

.todo-holder {
    width: 75vw;
    padding-top: 150px;
    padding-bottom: 150px;

    &:not(:hover) .checkbox {
        color: inherit !important;
    }
}

.todoitem {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;

    justify-items: flex-start;

    overflow: hidden;
    word-wrap: break-word;


    .checkbox {
        padding-right: 10px;
        margin-block-start: -5px;
        font-size: 60pt;
    }

    .todo-text {
        grid-row: 1/1;
        grid-column: 2/2;
        justify-self: flex-start;

        font-weight: 500;

        font-size: 60pt;

        a {
            text-decoration: none;
        }
    }

    .todo-description {
        grid-row: 2/2s;
        grid-column: 2/2;
        
        font-size: 20pt;
        color:rgb(80, 80, 80);

        
    }

    .todo-description,.todo-text {
        p {
            margin: 0;
        }

        a {
            color: inherit;
        }
    }

    

    &.completed {
        color: lightgrey;

        .checkbox {
            color: lightgrey !important;
        }
        
        .todo-text {
            text-decoration: line-through;
        }

        .todo-description {
            color: lightgrey;
        }
    }
    
}

@media (max-width: 720px) {
    h1 {
        font-size: 50pt;
    }

    .todo-holder {
        // width: 90vw;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .entirepage {
        padding-top: 0;
        padding-bottom: 0;
        min-height: inherit;
        max-width: 100vw;
        overflow: hidden;
    }

    .todoitem {
        .checkbox {
            font-size: 16pt;
        }

        .todo-text {
            font-size: 16pt;
        }

        .todo-description {
            font-size: 12pt;
        }

    }
}